.presentation {
    width: 100vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.presentation .row{
    justify-content: space-between;
    padding: 10vh 0;
}

.presentation .row .col{
    width: 40vw;
    margin-inline: 1vw !important;
}

.presentation .row p{
    text-align: justify;
}

.carousel-item {
    position: relative;
    height: 70vh;
}
